html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%
}

body {
  font-family: 'Bebas Neue', cursive;
  background-image: url('../assets/jungle-background.jpg');
  background-size: 1fr;
  background-repeat: no-repeat;
  background-position: bottom;
  color: #a8dadc;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

section.board {
  display: grid;
  grid-template-rows: repeat(6, 10vmin);
  grid-template-columns: repeat(7, 10vmin);
  grid-gap: 0vmin;
  justify-content: center;
  border:5px solid#f1faee;
  background-color: #f1faee;
  cursor: no-drop;
}

.zones {
  border: 2px solid#f1faee;
  border-radius: 50%;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  background-color: #457b9d;
}

section.hover-zones {
  display: grid;
  grid-template-columns: repeat(7, 10vmin);
  grid-template-rows: 10vmin;
  grid-gap: 0vmin;
  justify-content: center;
  background-color: transparent;
}

.hover-zone {
  border-radius: 50%;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.dropdown {
  width: 100vw;
  justify-self: left;
  align-self: left;
  display: flex;
}

.dropdown-toggle {
  color: #f1faee;
  background-color: #457b9d;
  font-size: 2.5rem;
}

.dropdown-toggle:hover {
  color: #f1faee;
  background-color: #457b9d;
}

.dropdown-toggle:focus {
  color: #f1faee;
  background-color: #457b9d;
}

.dropdown > ul {
  font-size: 2.0rem;
  background-color: #457b9d;
}

.dropdown-item {
  color: #f1faee;
}

#button-place-holder {
  height: 50px;
  width: 84px;
}

#reset-button{
  font-size: 2.0rem;
  color: #f1faee;
  background-color: #457b9d;
  margin-top: 5px;
}

h1 {
  justify-content: center;
  align-self: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.65);
  font-size: 5.0rem;
}

#message {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 5px;
  font-size: 3.0rem;
}

#page-top {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

#players {
  display: grid;
  grid-template-columns: 73px 73px;
  grid-template-rows: 50% 50%;
  background-color: rgba(0, 0, 0, 0.65);
  font-size: 1.7rem;
}

#player1 {
  color: red;
}

#player2 {
  grid-area: 2 / 3 / 1 / 2;
  color: yellow;
}

#p2-score {
  grid-area: 2 / 2 / 2 / 3;
}

#p1-score {
  grid-area: 2 / 1 / 2 / 2;
}

#filler {
  width: 146px;
}

@media screen and (max-width: 768px) {
  .hover-zone {
    border-radius: 0%;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 45px solid #f1faee;
    font-size: 8vmin;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    cursor: pointer;
  }

  #page-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 3.5rem;
  }

  #players{
    justify-content: center;
    align-self: center;
    width: 150px;
    margin-bottom: 5px;
  }
}
